
@{
    ViewData["Title"] = "TestView";
}

<h1 class="card-title">ChizziTest</h1>
<h3 class="text-truncate">Es un test de cshmtl</h3>
<p class="card">Ysi, se pone solo chizzi</p>
<img src="https://docs.microsoft.com/es-es/aspnet/core/tutorials/first-mvc-app/adding-view/_static/add_view50.png?view=aspnetcore-5.0" alt="Alternate Text" />
<ul style="color:red; text-align:center; list-style:none">
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>

